---
title: Download
description: >-
  Download our apps.
---

<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_products/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="product">
	{% for product in site.products %}
		<li>
			<div class="app-icon">
				<img
					src="{{ site.baseurl }}/images/{{ product.image_path }}" 
					alt="{{ product.name }}"
					/>
			</div>
			<div class="name">{{ product.name }}</div>
			{% for platform in product.platforms %}
				<div class="position">
					<i class="devicon-{{ platform.icon }} colored"></i>  
					<a href={{ platform.url }}>{{ platform.name }}</a>
					&nbsp;
					[{{ platform.version }}]
				</div>
			{% endfor %}
		</li>
	{% endfor %}
</ul>
